<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>165807713588-ttq0d5e35c68l7mp79gvt0p5rdm2r2a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165807713588-ttq0d5e35c68l7mp79gvt0p5rdm2r2a1</string>
	<key>API_KEY</key>
	<string>AIzaSyDoMYwr5JlkDITCAskaDcP-XlecBgA0dcI</string>
	<key>GCM_SENDER_ID</key>
	<string>165807713588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cituslabs.GGDemo</string>
	<key>PROJECT_ID</key>
	<string>gg-demo-351a8</string>
	<key>STORAGE_BUCKET</key>
	<string>gg-demo-351a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165807713588:ios:93ad44f826da633a</string>
	<key>DATABASE_URL</key>
	<string>https://gg-demo-351a8.firebaseio.com</string>
</dict>
</plist>